<?xml version="1.0" encoding="utf-8"?>
<skin>
	<Name Desc="插件名称">内容替换插件</Name>
	<Version Desc="适用版本">2.0以上</Version>
	<Author Desc="插件作者">IT平民</Author>
	<Website Desc="网址"></Website>
	<Plugkey Desc="唯一识别的插件key">sdcms.plug.replace</Plugkey>
	<InstallSql Desc="安装的sql语句"></InstallSql>
	<UninstallSql Desc="卸载的sql语句"></UninstallSql>
</skin>